*.iml
/.idea/
/.junie/

/home/.aws/
/ngrok/

/home/.claude.json
/home/.config/iterm2/
/home/.config/flutter/
/home/.config/configstore/
/home/.config/pip/
home/.claude/stats-cache.json

/zshrc.d/private.sh
