!/home/.claude/settings.json

/ide/
/projects/
/shell-snapshots/
/statsig/
/todos/
/history.jsonl
/file-history/
/debug/
/plugins
/plans/
/signoz-mcp-server/
/mcp.json

/home/.config/python_keyring/
home/.config/python_keyring/
