!/home/.claude/settings.json

/ide/
/projects/
/shell-snapshots/
/statsig/
/todos/
/history.jsonl
/file-history/
/debug/
/plugins
/plans/
/signoz-mcp-server/
/mcp.json
/cache/
.update.lock
/paste-cache/
